[Desktop Entry]
Comment=app
Exec=big-launcher
GenericName=app
Icon=icon
MimeType=
Name[pt_BR]=Big-Launcher
StartupNotify=true
Terminal=false
Categories=System;
Type=Application
